<div data-bind='visible: hasBuildInfo'>
    <a href="#" data-bind='text: buildInfosCount, updateTotal: buildInfosCount, event: { click: toggleBuildInfos }'
        title='Check Appharbor messages'></a>
    <img src='@Href("~/Content/images/appharbor/appharbor.png")' alt='Appharbor' />
</div>